name: Lint

on:
  pull_request:
    branches:
      - '*'

env:
  GO_VERSION: '1.25'
  GOLANGCI_LINT_VERSION: v2.8.0
  MISSPELL_VERSION: v0.7.0

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: "${{ env.GOLANGCI_LINT_VERSION }}"