name: Test Unit

on:
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - 'example/**'
      - '**.md'
      - 'airules/**'

env:
  GO_VERSION: '1.25'

jobs:
  test-unit:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Tests
        run: |
          go test -v -parallel 8 ./...